.iconKey {
  display: inline-flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 10px;
  border: 1px solid;
  border-radius: 1rem;
}

.iconKeyHeader {
  font-weight: bold;
  margin-right: 1rem;
}

.iconTable {
  display: inline-flex;
}

.iconColumn {
  margin-right: 1rem;
}