.iconKey {
  display: inline-flex;
  flex-direction: column;
  margin: 1rem;
  padding: 10px;
  border: 1px solid;
  border-radius: 1rem;
}

.iconTable {
  display: inline-flex;
}

.iconColumn {
  margin-right: 1rem;
}